body {
  margin: 0;
  text-align: center;
  font-family: 'Bebas', fantasy;
  /* background-color: #B5EAEA; */
}

hr {
  background-color: #E8F6EF;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-family: 'Eater', sans-serif;
  color: green;
  margin-top: 0;
}

h2 {
  font-family: 'Eater', sans-serif;
  font-size: 2.5rem;
  color: #11999E;
}

h3 {
  font-family: 'Eater', sans-serif;
  color: #002366;
  font-size: 25px;
}


a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

#myname{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #002366;
}

.para2{
  padding-bottom: 30px
}

.top-container {
  background-color: #93B5C6;   <!--#FCD9B1-->;
  padding-top: 100px;
  position: relative;
}
.middle-container {
  background-color: #E8F6EF;
  padding-bottom: 100px;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
  font-family: 'Eater', sans-serif;
}

.textundername {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2;
  color: #002366;
}

.top_cloud {
  position: absolute;
  top: 70px;
  right: 200px;
}

.bottom_cloud {
  position: absolute;
  left: 100px;
  bottom: 350px;
}

.profile-picture {
  height: 200px;
  width: 200px;
  padding-top: 20px;
}

.profile-picture:hover {
  content: url("https://media2.giphy.com/media/xUA7aOmNu7mCT9B77G/giphy.gif?cid=ecf05e47tmut4pwvgkibrt6p5jlov8ostgn7aenj7rmk4j2e&rid=giphy.gif&ct=s");
}

.computer {
  height: 150px;
  width: 150px;
  padding: 20px;
  padding-bottom: 30px;
}

.phone {
  height: 150px;
  width: 150px;
  padding: 10px;
  padding-top: 30px;
}

.spiderman-gif {
  position: fixed;
  left: 0;
  top: 0;
}

.spiderman-gif:hover {
  height: 200px;
  width: 200px;
  content: url('https://media4.giphy.com/media/frAXyMFGTj1wUxjRIH/giphy.webp');
}

.birds-gif {
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  bottom: 500px;
}

.btn {
  padding: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  font-family: "Eater", sans-serif;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.80rem;
  padding-top: 20px;
}

.btn {
  background-color: #002366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: green;
}
